body {
  width:960px;
  margin:auto;
  font-family:Arial, Verdana, sans-serif;
  background-image:url('/img/header.png');
  background-repeat:repeat-x;
}

h1 {
    color:white;
    height:99px;
    padding:0px;
    margin:0px;
    line-height:99px;
    vertical-align:center;
}
h1 a:link, h1 a:hover, h1 a:active, h1 a:visited {
    color:white;
    text-decoration:none;
}

#mainnav {
    border-width:0px 1px 1px 1px;
    border-color:#CCC;
    border-style:solid;
    padding:5px 10px;
    margin-top:0px;
}

#mainnav li {
    display:inline;
    padding-right:10px;
}

#mainnav a:link, #mainnav a:hover, #mainnav a:active, #mainnav a:visited {
    color:black;
    font-weight:bold;
    text-decoration:none;
}

address {
    border-top:1px solid #CCC;
    padding:5px;
    text-align:center;
    margin-top:10px;
}

#blogEntries .entry {
    font-size:9pt;
    line-height:180%;
    background-color:white;
    padding:5px;
    border:1px dotted #CCC;
}

#blogEntries h3 {
    background-color:white;
    border:1px dotted #CCC;
    border-bottom:0px;
    padding:5px;
    margin:20px 0px 0px 0px;
    color:#00C;
    font-size:14pt;
}

